.Catcard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modal {
  margin-left: 300px;
  margin-right: 300px;
  width: 300px; /* Full width */
  height: 300px; /* Full */
}

/* Modal Content/Box */
.modal-info {
  background-color: rgb(146, 113, 70);
  margin: 30px;
  padding: 30px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
}
.modal-img {
  width: 300px; /* Full width */
  height: 270px; /* Full */
}
.Catcard-info {
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 3px;
}

.Catcard-data {
  font-size: 80%;
}

.Catcard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.Catcard-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
  background-color: #eceff1;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.Catcard img {
  transition: all ease 500ms;
  height: 250px;
  width: 300px;
}
.Catcard img:hover {
  transform: scale(1.25);
  opacity: 0.7;
}
