.form-container {
  box-sizing: border-box;
  border: 1px black solid;
  border-radius: 9%;
  padding: 30px;
  margin: 30px;
  display: block;
  flex-wrap: wrap;
  float: right;
  position: relative;
  top: 0px;
  right: 0px;
  width: 300px;
}
.save {
  background-color: rgba(255, 0, 0, 0.199);
}
.undo {
  background-color: seagreen;
}
