.list-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 0px;
  left: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 20px;
  width: 200px;
  height: 300px;
  overflow: scroll;
  flex-wrap: wrap;
  position: relative;
}
li {
  padding: 5px 10px;
  background-color: #2b282860;
  border: 1px solid #dddddd;
  cursor: pointer;
  text-align: left;
}
li:hover {
  color: #eeeeee8a;
}
.clicks {
  border: 1px rgba(0, 0, 0, 0.144) solid;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.288);
  float: right;
}
